* {
    margin: 0;
    padding: 0;
}

.logo {
    padding: 10px 5px;
}

body {
    background-color: #5CDB95;
}

nav {
    display: flex;
    justify-content: space-between;
    color: #05386B;
    box-shadow: 1px 1px rgba(8, 43, 107, 0.5);
    margin-bottom: 20px;
}

.book-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.book {
    background-color: #379683;
    padding: 20px 10px;
    text-align: center;
}

fieldset {
    border: none;
}

.form-completion {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: grid;
    place-content: center;
}


.form-completion form {
    background-color: #0e7be9;
    padding: 30px 150px;
    border-radius: 5px;
    display: flex;
}

.user-info {
    display: grid;
    margin: 20px;
}

legend h2 {
    color: #20dbb6;
    margin: 10px;
    font-size: 20px;
}





